---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/movie?api_key=<TMDB_API_KEY>&language=pt-BR&query=invalid%20Movie%20title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 2cf9f993816f98b74c28f4f749a91064
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '27314'
      Etag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
  recorded_at: Sat, 09 Mar 2024 15:15:30 GMT
recorded_with: VCR 6.2.0
